# KiCad
*.kicad_prl
*-backups/
*.lck
fp-info-cache

# atopile / python
.ato/
__pycache__/
*.egg-info/
.venv/

# ESP-IDF
firmware/build/
firmware/sdkconfig.old

# OS
.DS_Store
hardware/build/
hardware/build_out.log
hardware/.venv/
